In [63]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read Australian Vehicle Prices.csv
import pandas as pd 
Vehicleprices_df = pd.read_csv("Australian Vehicle Prices.csv")
Vehicleprices_df.head()

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595,White / Black,"Caringbah, NSW",4 cyl,SUV,4 Doors,7 Seats,51990
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2 Doors,4 Seats,108988
3,Mercedes-Benz,2011.0,E500,Coupe,2011 Mercedes-Benz E500 Elegance,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8 cyl,Coupe,2 Doors,4 Seats,32990
4,Renault,2022.0,Arkana,SUV,2022 Renault Arkana Intens,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4 cyl,SUV,4 Doors,5 Seats,34990

In [64]:

Vehicleprices_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16734 entries, 0 to 16733
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Brand              16733 non-null  object
 1   Year               16733 non-null  float64
 2   Model              16733 non-null  object
 3   Car/Suv            16706 non-null  object
 4   Title              16733 non-null  object
 5   UsedOrNew          16733 non-null  object
 6   Transmission       16733 non-null  object
 7   Engine             16733 non-null  object
 8   DriveType          16733 non-null  object
 9   FuelType           16733 non-null  object
 10  FuelConsumption    16733 non-null  object
 11  Kilometres         16733 non-null  object
 12  ColourExtInt       16733 non-null  object
 13  Location           16284 non-null  object
 14  CylindersinEngine  16733 non-null  object
 15  BodyType           16452 non-null  object
 16  Doors              15130 non-null  object
 17  Seats              15029 non-null  object
 18  Price              16731 non-null  object
dtypes: float64(1), object(18)
memory usage: 2.4+ MB

In [65]:
# Drop Columns 
columns_to_drop = ['Seats','Doors','ColourExtInt','DriveType','Title']
Vehicleprices_df = Vehicleprices_df.drop(columns=columns_to_drop)
Vehicleprices_df

,Brand,Year,Model,Car/Suv,UsedOrNew,Transmission,Engine,FuelType,FuelConsumption,Kilometres,Location,CylindersinEngine,BodyType,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,DEMO,Automatic,"4 cyl, 2.2 L",Diesel,8.7 L / 100 km,5595,"Caringbah, NSW",4 cyl,SUV,51990
1,MG,2022.0,MG3,Hatchback,USED,Automatic,"4 cyl, 1.5 L",Premium,6.7 L / 100 km,16,"Brookvale, NSW",4 cyl,Hatchback,19990
2,BMW,2022.0,430I,Coupe,USED,Automatic,"4 cyl, 2 L",Premium,6.6 L / 100 km,8472,"Sylvania, NSW",4 cyl,Coupe,108988
3,Mercedes-Benz,2011.0,E500,Coupe,USED,Automatic,"8 cyl, 5.5 L",Premium,11 L / 100 km,136517,"Mount Druitt, NSW",8 cyl,Coupe,32990
4,Renault,2022.0,Arkana,SUV,USED,Automatic,"4 cyl, 1.3 L",Unleaded,6 L / 100 km,1035,"Castle Hill, NSW",4 cyl,SUV,34990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16729,Toyota,2014.0,Alphard,SYC Cars,USED,Automatic,-,Unleaded,-,66000,"Rocklea, QLD",-,Commercial,29500
16730,Mercedes-Benz,2012.0,S-Class,USED Dealer ad,USED,Automatic,-,Diesel,-,117432,"Port Melbourne, VIC",-,NaN,39888
16731,Suzuki,2022.0,Vitara,Bremer Suzuki - New,DEMO,Automatic,"4 cyl, 1.6 L",Unleaded,6.2 L / 100 km,5165,"Dinmore, QLD",4 cyl,SUV,35280
16732,Mercedes-Benz,2016.0,GLC250,SUV,USED,Automatic,"4 cyl, 2 L",Premium,7.2 L / 100 km,85525,"Albion, QLD",4 cyl,SUV,41888
16733,Mercedes-Benz,2021.0,C200,Sedan,USED,Automatic,"4 cyl, 2 L",Unleaded,7 L / 100 km,31852,"Yatala, QLD",4 cyl,Sedan,65888

In [66]:
# Convert the 'Year' column to datetime type for easier comparison
Vehicleprices_df['Year'] = pd.to_datetime(Vehicleprices_df['Year'], format='%Y')

# Filter the rows with a year greater than 2020
Vehicleprices_df = Vehicleprices_df[Vehicleprices_df['Year'].dt.year > 2020]
Vehicleprices_df

,Brand,Year,Model,Car/Suv,UsedOrNew,Transmission,Engine,FuelType,FuelConsumption,Kilometres,Location,CylindersinEngine,BodyType,Price
0,Ssangyong,2022-01-01,Rexton,Sutherland Isuzu Ute,DEMO,Automatic,"4 cyl, 2.2 L",Diesel,8.7 L / 100 km,5595,"Caringbah, NSW",4 cyl,SUV,51990
1,MG,2022-01-01,MG3,Hatchback,USED,Automatic,"4 cyl, 1.5 L",Premium,6.7 L / 100 km,16,"Brookvale, NSW",4 cyl,Hatchback,19990
2,BMW,2022-01-01,430I,Coupe,USED,Automatic,"4 cyl, 2 L",Premium,6.6 L / 100 km,8472,"Sylvania, NSW",4 cyl,Coupe,108988
4,Renault,2022-01-01,Arkana,SUV,USED,Automatic,"4 cyl, 1.3 L",Unleaded,6 L / 100 km,1035,"Castle Hill, NSW",4 cyl,SUV,34990
22,Volkswagen,2023-01-01,Amarok,Alto Volkswagen New Cars,NEW,Automatic,"6 cyl, 3 L",Diesel,8.4 L / 100 km,15,"Blacktown, NSW",6 cyl,Ute / Tray,83887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16723,Suzuki,2022-01-01,Swift,NEW In stock,NEW,Automatic,-,Unleaded,-,20,"Indooroopilly, QLD",-,Hatchback,28590
16725,MG,2022-01-01,HS,Springwood MG - New,DEMO,Automatic,"4 cyl, 1.5 L",Hybrid,1.7 L / 100 km,6156,"Springwood, QLD",4 cyl,SUV,46990
16728,Nissan,2021-01-01,Qashqai,SUV,USED,Automatic,"4 cyl, 2 L",Unleaded,6.9 L / 100 km,32977,"Rocklea, QLD",4 cyl,SUV,36770
16731,Suzuki,2022-01-01,Vitara,Bremer Suzuki - New,DEMO,Automatic,"4 cyl, 1.6 L",Unleaded,6.2 L / 100 km,5165,"Dinmore, QLD",4 cyl,SUV,35280
16733,Mercedes-Benz,2021-01-01,C200,Sedan,USED,Automatic,"4 cyl, 2 L",Unleaded,7 L / 100 km,31852,"Yatala, QLD",4 cyl,Sedan,65888

In [67]:
# Determine the number of unique values in each column.
Vehicleprices =Vehicleprices_df.dtypes[Vehicleprices_df.dtypes == "object"].index.tolist()
Vehicleprices_df[Vehicleprices].nunique()

Brand                  57
Model                 348
Car/Suv               309
UsedOrNew               3
Transmission            3
Engine                 63
FuelType                7
FuelConsumption       109
Kilometres           2139
Location              353
CylindersinEngine       9
BodyType               10
Price                1850
dtype: int64

In [68]:
# Look at APPLICATION_TYPE value counts for binning
Titles = Vehicleprices_df['Price'].value_counts().reset_index()
Titles

       index  Price
0        POA     43
1      34990     41
2      54990     41
3      39990     41
4      49990     39
...      ...    ...
1845   69970      1
1846  102990      1
1847   78309      1
1848   81970      1
1849   35280      1

[1850 rows x 2 columns]

In [69]:
# Look at APPLICATION_TYPE value counts for binning
Brands = Vehicleprices_df['Brand'].value_counts().reset_index()
Brands

            index  Brand
0          Toyota    541
1           Mazda    321
2      Volkswagen    277
3              MG    268
4         Hyundai    218
5             GWM    198
6      Mitsubishi    170
7             Kia    154
8          Suzuki    136
9          Nissan    130
10           Ford    124
11           Audi    115
12            BMW     94
13           Jeep     85
14  Mercedes-Benz     84
15        Renault     82
16            LDV     76
17          Isuzu     69
18         Subaru     59
19          Skoda     57
20      Ssangyong     47
21          Volvo     47
22          Honda     44
23          Lexus     41
24          Iveco     34
25        Porsche     31
26           Mini     29
27           Land     27
28           Hino     26
29            Ram     18
30        Peugeot     16
31        Genesis     13
32          Haval     13
33          Chery     11
34          Cupra      9
35      Chevrolet      9
36          Tesla      9
37         Jaguar      9
38       Mahindra      9
39       Daihatsu      5
40        McLaren      4
41        Bentley      4
42          Ineos      4
43            BYD      3
44         Abarth      3
45          Lotus      3
46           Fiat      3
47          Aston      3
48        Citroen      2
49       Caterham      2
50  International      2
51       Maserati      2
52       Chrysler      1
53        Ferrari      1
54          Foton      1
55       Polestar      1
56           Alfa      1

In [70]:


# Choose a cutoff value and create a list of Brand types to be replaced
Brand_types_to_replace = []

Brand_types_to_replace = Brands[Brands['Brand'] <=27]['index']

# Replace in dataframe
for Brands in Brand_types_to_replace:
    Vehicleprices_df['Brand'] = Vehicleprices_df['Brand'].replace(Brands,"Other")

# Check to make sure binning was successful
Vehicleprices_df['Brand'].value_counts()

C:\Users\zjoni\AppData\Local\Temp\ipykernel_8276\2838704069.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Vehicleprices_df['Brand'] = Vehicleprices_df['Brand'].replace(Brands,"Other")

Toyota           541
Mazda            321
Volkswagen       277
MG               268
Hyundai          218
Other            214
GWM              198
Mitsubishi       170
Kia              154
Suzuki           136
Nissan           130
Ford             124
Audi             115
BMW               94
Jeep              85
Mercedes-Benz     84
Renault           82
LDV               76
Isuzu             69
Subaru            59
Skoda             57
Volvo             47
Ssangyong         47
Honda             44
Lexus             41
Iveco             34
Porsche           31
Mini              29
Name: Brand, dtype: int64

In [71]:
# Look at APPLICATION_TYPE value counts for binning
#Kilometres = Vehicleprices_df['Kilometres'].value_counts().reset_index()
#Kilometres

In [72]:
# Determine the columns to be encoded
columns_to_encode = Vehicleprices_df.dtypes[Vehicleprices_df.dtypes == "object"].index.tolist()

# Encode categorical data
numerical_df = pd.get_dummies(Vehicleprices_df, columns=columns_to_encode)

# Sum the encoded 'Price' columns to get a single column
numerical_df['Price'] = numerical_df.filter(like='Price_').sum(axis=1)

# Drop the original encoded 'Price' columns
numerical_df = numerical_df.drop(numerical_df.filter(like='Price_').columns, axis=1)
numerical_df

,Year,Brand_Audi,Brand_BMW,Brand_Ford,Brand_GWM,Brand_Honda,Brand_Hyundai,Brand_Isuzu,Brand_Iveco,Brand_Jeep,...,BodyType_Convertible,BodyType_Coupe,BodyType_Hatchback,BodyType_Other,BodyType_People Mover,BodyType_SUV,BodyType_Sedan,BodyType_Ute / Tray,BodyType_Wagon,Price
0,2022-01-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,2022-01-01,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,2022-01-01,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
4,2022-01-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
22,2023-01-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16723,2022-01-01,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
16725,2022-01-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
16728,2021-01-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
16731,2022-01-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
16733,2021-01-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [73]:
# Split our preprocessed data into our features and target arrays
y = numerical_df['Price'].values
X = numerical_df.drop(['Price'],1).values

# Normalize the features using StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=80)

C:\Users\zjoni\AppData\Local\Temp\ipykernel_8276\1545540376.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = numerical_df.drop(['Price'],1).values

TypeError: float() argument must be a string or a real number, not 'Timestamp'

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Compile, Train and Evaluate the Model

In [48]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="LeakyReLU"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="LeakyReLU"))

# Output layer with linear activation for regression
nn.add(tf.keras.layers.Dense(units=1, activation="linear"))


# Check the structure of the model
nn.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_21 (Dense)            (None, 80)                261520

 dense_22 (Dense)            (None, 20)                1620

 dense_23 (Dense)            (None, 1)                 21

=================================================================
Total params: 263161 (1.00 MB)
Trainable params: 263161 (1.00 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [49]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [50]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
393/393 [==============================] - 11s 19ms/step - loss: nan - accuracy: 0.0511
Epoch 2/100
393/393 [==============================] - 9s 22ms/step - loss: nan - accuracy: 2.3904e-04
Epoch 3/100
 88/393 [=====>........................] - ETA: 6s - loss: nan - accuracy: 0.0000e+00

KeyboardInterrupt: